.name-description {
	font-size: 48px;
	font-weight: '500';
}

.name-text {
	font-size: 112px;
	font-weight: 200;
}

.image-container {
	max-width:100%;
	max-height:100%;
	filter: brightness(40%);
}

.parallax-container {
	height: 500px;
}

.name-container {
	margin-top: -15px;
}

.name-container:before {
	background: url("../images/img1.jpg");
	filter: brightness(45%);
	height: 660px;
	left: 0;
	right: 0;
	z-index: 1;
	position: absolute;
	display: block;
	content: "";
}

.name-content {
	z-index: 2;
	position: relative;	
	left: 0;
	top: 0;
	display:block;
}

.headshot-img-wrapper {
	padding-top: 40px;
}

.headshot-img {
	filter: brightness(80%);
}

.headshot-img {
	height: 300px;
	width: 300px;
}

.name-description {
	margin-top: 30px;
	margin-bottom: 30px;
}

.about-me {
	margin-top: 20px;
}
