.name-description {
    font-size: 56px;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.15rem;
}

.name-text {
    font-size: 112px;
    font-weight: 200;
}

.image-container {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(40%);
}

.name-container {
    position: relative;
}

.name-bg-image {
    width: 100%;
    filter: brightness(55%);
    min-height: 800px;
    max-height: 1000px;
}

.name-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    margin-top: 80px;
}

.headshot-img {
    height: 300px;
    width: 300px;
    filter: brightness(90%);
}

.name-description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-me {
    margin-top: 20px;
}

/* Skills section */
.skills-header {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #ddd;
    line-height: 6rem;
    padding: 0 1rem;
}

.skills-header i {
    color: white;
    font-size: 3rem;
    line-height: 6rem;
    width: 3rem;
    margin-right: 1rem;
}

.skills-section {
    position: relative;
}

.skills-container {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
}

.skills-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    margin-top: 40px;
}

.skills-bg-image {
    width: 100%;
    filter: brightness(45%);
    height: 1100px;
}

.skill-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.skill-row-bg {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #ddd;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    margin-top: 30px;
}

.skill-item i {
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
}

.skill-item-name {
    color: white;
}

.redux-icon {
    width: 73px;
    margin-bottom: 10px;
}
