.display4 {
	font-size: 112px;
	font-weight: 300;
	letter-spacing: -5px;
	line-height: 128px;
}

.display3 {
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
}

.display2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
}

.display1 {
	font-size: 34px;
	font-weight: 400;
	line-height: 52px;
}